<h1 style="text-align:center">Events</h1>
<div class="events_container" style="display:flex; flex-direction:column; align-items:center;">
  <% @events.each do |event| %>
    <div>
      <%= event.location %>
      <p>Date: <%= event.date %></p>
      <p>Host Email: <%= event.host.email %></p>
    </div>
  <% end %>
</div>
