<h1 style="text-align:center">Events</h1>
<div class="events_container" style="display:flex; flex-direction:column; align-items:center;">
  <% @events.each do |event| %>
    <div>
      <%= event.location %>
      <p>Date: <%= event.date %></p>
      <p>Host: <%= event.host.first_name + " " + event.host.last_name %></p>
    </div>
  <% end %>
</div>
