<h1 style="text-align:center">Events</h1>
<div class="events_container">
  <% @events.each do |event| %>
    <div class = "event">
      <%= event.location %>
      <p>Date: <%= event.date %></p>
      <p>Creator: <%= event.creator.first_name + " " + event.creator.last_name %></p>
      <%= link_to "Event Details", event %>
    </div>
  <% end %>
</div>
