<h1 style="text-align:center">Event Details</h1>
<div class="events_container">
  <div class="event">
    <p>Location: <%= @event.location %></p>
    <p>Date: <%= @event.date %></p>
    <p>Creator: <%= @event.creator.first_name + " " + @event.creator.last_name %></p>
    <%= button_to "Join", attendances_join_path, params: { event_id: @event.id }, method: :post %>
  </div>
</div>
